<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>

  <% if @user.errors.any? %>
    <div id="errors">
      <% @user.errors.full_messages.each do |m| %>
        <%= m %><br />
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => "User Name", :autocomplete => 'off' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Password", :autocomplete => 'off' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
      <hr>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :time_zone, :class => "control-label" %>
    <div class="controls">
      <p class="help">
        Display file timestamps in the user's time zone
      </p>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)" %>
      <hr>
    </div>
  </div>
  
  <% if current_user.admin? %>
    <div class="control-group">
      <div class="controls">
      <p><strong>Sharing Permissions</strong></p>
      <p class="help">
        Who can this user can share files with?
      </p> 
      <%= f.collection_select :allowed_user_ids, @user.users_choices, :id, :name, {}, { multiple: true, :class => "span6" } %>
    </div>

    <br />
  
    <div class="control-group">
      <div class="controls">
        <p class="help">
          Who can share files with this user?
        </p> 
        <%= f.collection_select :allowing_user_ids, @user.users_choices, :id, :name,   {}, { multiple: true, :class => "span6" } %>
        <hr>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? && @user != current_user %>
    <div class="control-group">
      <div class="controls">
        <b>Is this user an admin?</b>
        <br />
        <label class="radio inline">
          <% if @user.admin? %>
            <%= f.radio_button :admin, :true, :checked => true %> Yes
          <% else %>
            <%= f.radio_button :admin, :true %> Yes
          <% end %>
        </label>
        <label class="radio inline">
          <% if @user.new_record? || ! @user.admin %>
            <%= f.radio_button :admin, :false, :checked => true %> No
          <% else %>
            <%= f.radio_button :admin, :false %> No
          <% end %>
        </label>
        <hr>
      </div>
    </div>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit (@user.new_record? ? "Create user" : "Update Account"), :class => "btn btn-primary" %>
      <%= link_to 'Cancel', :back, :class => "btn" %>
    </div>
  </div>
  
<% end %>
