<%= title_tag "User List" %>

 <p class="muted">Search by username</p>
 <%= render :template => 'partials/search_form', :locals => { :collection => @users } %>
<br />

<h4><%= link_to "Create A New User", new_user_path %></h4>

<br />

<div id="users">
  <% if @users.any? %>
    <%= render @users %>
  <% else %>
    <b>Nothing to show</b>
  <% end %>
</div>

<%= will_paginate @users %>
