<%= render :template => "partials/uploader", :locals => { :upload => @upload, :user => @user }%>

<%= render :template => "partials/date_select", :locals => { :route => @user } %>

<div id="uploads">
  <% if @uploads.empty? %>
    <%= render partial: "nothing", :locals => { :user => @user } %>
  <% else %>
    <% @uploads.each do |upload| %>
      <%= render partial: "/uploads/upload", locals: { :upload => upload, :user => @user } %> 
    <% end %>  
  <% end %>
</div>

<%= will_paginate @uploads %>
