<%= title_tag "All Uploads" %>

<%= render :template => "partials/date_select", :locals => { :route => "/users/#{@user.slug}/uploads/" } %>

<div id="uploads">
  <% if @uploads.empty? %>
    <%= render partial: "nothing", :locals => { :user => nil } %>
  <% else %>
    <% @uploads.each do |upload| %>
      <%= render partial: "uploads/upload", locals: { user: current_user, upload: upload } %>
    <% end %>  
  <% end %>
</div>

<%= will_paginate @uploads %>
